/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap'); */

@font-face {
  font-family: Gemstone;
  src: url("./fonts/Gemstone.ttf");
}
body{
  background-color: #EDE9E5 !important;
   
  background-position: center;
 color: #212529
 ;
  background-size: cover;
  font-family: Gemstone;
  letter-spacing: 2px;
  font-weight: 500;

}